*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family: 'Laila', serif;
}
body{
	width:100%;
	background-color: #8B008B;
}
a{
	text-decoration:none;
}
.containerOne{
	width: 1120px;
	height:500px;
	margin:50px;
	margin-left:80px;
	background-color: #fff;
}
h1{
	position:relative;
	font-size: 36px;
	margin-left: 40%;
	top: 30%;
	color: #FF00FF
}
.form{
	position: relative;
    font-size: 30px;
    left: 25%;
    top: 30%;
}
p{
	position:relative;
	font-size:20px;
	left: 45%;
    top: 32%;
	
}